.dashboard {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  gap: 0.5rem;
  overflow: hidden;
}

.headings {
  display: flex;
  flex-direction: row;
}

.headings-titles {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 1rem;
  width: 50%;
}

.user-welcome {
  font-size: 30px;
  margin: 0;
}

.weekday {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.day {
  width: 148px;
  height: 100px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: rgba(50, 50, 50, 0.1);
  border: 1px solid rgba(50, 50, 50, 0);
  transition: 300ms;
  position: relative;
}

.add-icon {
  position: absolute;
  font-size: 18px;
  right: 0%;
  bottom: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 20px;
  height: 20px;
  color: rgba(255, 255, 255, 0.25);
}

.sun-icon {
  position: absolute;
  font-size: 12px;
  right: 0%;
  top: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 20px;
  height: 20px;
  color: rgba(255, 255, 255, 1);
}

.today-tag {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 8px;
  letter-spacing: 0.125rem;
  border: 1px solid white;
  padding: 3px 6px;
}

.day:hover {
  background-color: rgba(50, 50, 50, 0.25);
  border: 1px solid rgba(50, 50, 50, 1);
  opacity: 1;
}

.user-img {
  border-radius: 0.5rem;
  border: 3px solid rgba(50, 50, 50, 0.5);
  width: 100px;
  height: 100px;
}

.time-tag.dash-header {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.dashboard-panel-main {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  position: absolute;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  padding: 2rem;
}
.dashboard-panel-edit {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 50%;
  background-color: rgba(25, 25, 25, 1);
}

.date-box {
  display: flex;
  box-sizing: border-box;
  padding: 0.5rem 2rem;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(50, 50, 50, 0.5);
  border-radius: 5px;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
}

.calender-btn {
  height: 100%;
}

.simple-editor {
  align-items: center;
  justify-content: center;
  width: "100%";
  display: "flex";
  flex-direction: "row";
}
