.date-tag {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0.5rem 2rem;
  border-radius: 3px;
}

.time-preview {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
}

.tp-title {
  opacity: 0.5;
}
